node_modules
dist
dist-ssr
.vite
.env
.env.local
*.log
.DS_Store
.idea
.vscode
*.tsbuildinfo
vite.config.js
vite.config.d.ts
playwright-report/
playwright-report-integration/
playwright-report-electron/
playwright-report-prod/
test-results/
